    .clg1	{width:4.16666666666667%;}	
    .clg2	{width:8.33333333333333%;}	
    .clg3	{width:12.5%;}	
    .clg4	{width:16.6666666666667%;}	
    .clg5	{width:20.8333333333333%;}	
    .clg6	{width:25%;}	
    .clg7	{width:29.1666666666667%;}	
    .clg8	{width:33.3333333333333%;}	
    .clg9	{width:37.5%;}	
    .clg10	{width:41.6666666666667%;}	
    .clg11	{width:45.8333333333333%;}	
    .clg12	{width:50%;}	
    .clg13	{width:54.1666666666667%;}	
    .clg14	{width:58.3333333333333%;}	
    .clg15	{width:62.5%;}	
    .clg16	{width:66.6666666666667%;}	
    .clg17	{width:70.8333333333333%;}	
    .clg18	{width:75%;}	
    .clg19	{width:79.1666666666667%;}	
    .clg20	{width:83.3333333333333%;}	
    .clg21	{width:87.5%;}	
    .clg22	{width:91.6666666666667%;}	
    .clg23	{width:95.8333333333333%;}	
    .clg24	{width:100%;}	
    .hidden-lg{display:none;}	
    
@media screen and (min-width: 769px) and (max-width: 1199px)
    {		
    .cmd1	{width:4.16666666666667%;}	
    .cmd2	{width:8.33333333333333%;}	
    .cmd3	{width:12.5%;}	
    .cmd4	{width:16.6666666666667%;}	
    .cmd5	{width:20.8333333333333%;}	
    .cmd6	{width:25%;}	
    .cmd7	{width:29.1666666666667%;}	
    .cmd8	{width:33.3333333333333%;}	
    .cmd9	{width:37.5%;}	
    .cmd10	{width:41.6666666666667%;}	
    .cmd11	{width:45.8333333333333%;}	
    .cmd12	{width:50%;}	
    .cmd13	{width:54.1666666666667%;}	
    .cmd14	{width:58.3333333333333%;}	
    .cmd15	{width:62.5%;}	
    .cmd16	{width:66.6666666666667%;}	
    .cmd17	{width:70.8333333333333%;}	
    .cmd18	{width:75%;}	
    .cmd19	{width:79.1666666666667%;}	
    .cmd20	{width:83.3333333333333%;}	
    .cmd21	{width:87.5%;}	
    .cmd22	{width:91.6666666666667%;}	
    .cmd23	{width:95.8333333333333%;}	
    .cmd24	{width:100%;}
    .hidden-md{display: none;}
    }		
@media (max-width: 768px)
    {		
    .cxs1	{width:4.16666666666667%;}	
    .cxs2	{width:8.33333333333333%;}	
    .cxs3	{width:12.5%;}	
    .cxs4	{width:16.6666666666667%;}	
    .cxs5	{width:20.8333333333333%;}	
    .cxs6	{width:25%;}	
    .cxs7	{width:29.1666666666667%;}	
    .cxs8	{width:33.3333333333333%;}	
    .cxs9	{width:37.5%;}	
    .cxs10	{width:41.6666666666667%;}	
    .cxs11	{width:45.8333333333333%;}	
    .cxs12	{width:50%;}	
    .cxs13	{width:54.1666666666667%;}	
    .cxs14	{width:58.3333333333333%;}	
    .cxs15	{width:62.5%;}	
    .cxs16	{width:66.6666666666667%;}	
    .cxs17	{width:70.8333333333333%;}	
    .cxs18	{width:75%;}	
    .cxs19	{width:79.1666666666667%;}	
    .cxs20	{width:83.3333333333333%;}	
    .cxs21	{width:87.5%;}	
    .cxs22	{width:91.6666666666667%;}	
    .cxs23	{width:95.8333333333333%;}	
    .cxs24	{width:100%;}
    .hidden-xs{display: none;}
    }		
        
    .hidden{display: none;}